<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/login.css">
</head>

<body>

    <div class="flex">
        <div class="wrapper">
            <h1 class="title">Login page</h1>
            <form action="http://localhost:4444/login" method="post">
                <input class="inputname" name="username" type="text" placeholder="Name" required> <br>
                <input class="inputname" name="password" type="password" placeholder="password" required><br>
                <div class="btnflex"><button class="btn">login</button></div>
            </form>
        </div>
    </div>
</body>

<script>

</script>

</html>