<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Teacher page</h1>
    <hr>
    <h2> Teacher:<%=founduser.username%></h2>
    <hr>
    <% for (const i of foundGrux){%>
    <h3>Name: <%=i.gruxname%></h3>
    <h3>Yo'nalish: <%=i.gruxyonalish%></h3>
    <% }%>
</body>

</html>